body {
    background-color: rgb(255, 255, 255);
    padding: 0%;
    margin: 0%;
}

#card {
    border: 1px solid rgba(0, 0, 0, 0.49);
    border-radius: 15px;
    font-family: 'Khula', sans-serif;
    margin-top: 50px;
    padding: 20px 50px;
    width: 700px;
}

h1 {
    background-color: rgba(0, 0, 0, 0.753);
    color: rgb(189, 172, 22);
    display: flex;
    font-family: 'Bruno Ace', cursive;
    font-size: xxx-large;
    justify-content: center;
    padding: 30px;
    margin: 0%;
}

#input-container input {
    margin: 15px 10px;
}

#input-container label:hover { color: rgb(189, 158, 22); font-weight: bolder; font-size: x-large; }

main {
    display: flex;
    font-size: 20px;
    justify-content: center;    
}